{% load static %}
{% include 'index.html' %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="loginform.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'base/login.css' %}">
</head>
<body>

<div class="container">
    <div class="wrapper">
        <div class="title"><span>Employee Login</span></div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <i class="fas fa-user"></i>
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="pass"><a href="{% url 'reset_password' %}">Forgot password?</a></div>
            <div class="row button">
                <input type="submit" value="Login">
            </div>
            {% if error_message %}
                <p class="error-message">{{ error_message }}</p>
            {% endif %}
        </form>
    </div>
</div>
</body>
</html>
