{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}
{% if success_message %}
    <p>{{ success_message }}</p>
{% else %}
    <style>
        .password-reset-form {
            width: 300px;
            margin: 0 auto;
        }

        .password-reset-form input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
        }

        .password-reset-form input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        .password-reset-form input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>

    <form method="post" action="{% url 'reset_password' %}" class="password-reset-form">
        {% csrf_token %}
        <h2>Enter Your Email id :</h2>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="submit" value="Reset Password">
    </form>
{% endif %}

